{% extends 'base.html.twig' %}

{% block title %}Composter index{% endblock %}

{% block body %}
    <h1>Composter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composter in composters %}
            <tr>
                <td>{{ composter.id }}</td>
                <td>{{ composter.latitude }}</td>
                <td>{{ composter.longitude }}</td>
                <td>
                    <a href="{{ path('app_composter_show', {'id': composter.id}) }}">show</a>
                    <a href="{{ path('app_composter_edit', {'id': composter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_composter_new') }}">Create new</a>
{% endblock %}
