{% extends 'admin_panel/layout.html.twig' %}

{% block contentTitle %}Tableau de bord{% endblock %}

{% block contentBody %}
<div class="d-flex w-100 gap-4 flex-wrap mt-4">
    <div class="card col-12 col-lg shadow border-0 svg-background" style="background-image: url('{{ asset('img/composter.svg') }}')">
        <div class="card-body">
            <span class="card-title text-muted">
                Nombre de composteurs
            </span>
            <p class="card-text fw-bold fs-2">{{ composters|length }}</p>
        </div>
    </div>
    <div class="card col-12 col-lg shadow border-0 svg-background" style="background-image: url('{{ asset('img/speedometer.svg') }}')">
        <div class="card-body">
            <span class="card-title text-muted">
                Taux de remplissage global
            </span>
            <p class="card-text fw-bold fs-2">88%</p>
        </div>
    </div>
    <div class="card col-12 col-lg shadow border-0 svg-background" style="background-image: url('{{ asset('img/support.svg') }}')">
        <div class="card-body">
            <span class="card-title text-muted">
                Nombre de tickets
            </span>
            <p class="card-text fw-bold fs-2">{{ tickets|length }}</p>
        </div>
    </div>
</div>
{% endblock %}
