{% extends 'base.html.twig' %}

{% block title %}AccessType index{% endblock %}

{% block body %}
    <h1>AccessType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_type in access_types %}
            <tr>
                <td>{{ access_type.id }}</td>
                <td>{{ access_type.name }}</td>
                <td>
                    <a href="{{ path('app_access_type_show', {'id': access_type.id}) }}">show</a>
                    <a href="{{ path('app_access_type_edit', {'id': access_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_access_type_new') }}">Create new</a>
{% endblock %}
