{% extends 'admin_panel/layout.html.twig' %}

{% block contentTitle %}
    Liste des tickets
{% endblock %}

{% block contentBody %}
    <div class="table-responsive mt-4">
        {% if tickets|length > 0 %}
            <table class="table table-striped w-100" id="ticketTable">
                <thead>
                <tr>
                    <th></th>
                    <th scope="col" class="text-start">ID</th>
                    <th scope="col" style="min-width: 300px;">Sujet</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Status</th>
                    <th scope="col">Personne en charge</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td></td>
                        <td>{{ ticket.id }}</td>
                        <td>
                            <a href="{{ path('app_ticket_show', {'slug' : ticket.slug}) }}" class="text-wrap">{{ ticket.title }}</a>
                        </td>
                        <td>{{ ticket.createdAt|date('d/m/y H:m:s') }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>
                            {% if ticket.responsableUser is not null %}
                                {{ ticket.responsableUser.firstname }} {{ ticket.responsableUser.lastname }}
                            {% else %}
                                <span class="text-muted"> - </span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" class="btn btn-sm btn-primary">Voir</a>
                            <a href="#" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="text-center">
                <img src="{{ asset('img/taken.svg') }}" alt="Aucun résultat" height="200px" class="m-2">
                <p class="text-center">Aucun ticket n'a été trouvé</p>
            </div>
        {% endif %}
    </div>
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/r-3.0.1/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/r-3.0.1/datatables.min.js"></script>
    <script>
        let table = new DataTable('#ticketTable', {
            paging: true,
            searching: true,
            info: true,
            lengthChange: true,
            lengthMenu: [5, 10, 25, 50, 100],
            pageLength: 25,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
            },
            autoWidth: true,
            responsive: {
                details: {
                    type: 'column'
                }
            },
            columnDefs: [
                {
                    className: 'dtr-control',
                    orderable: false,
                    targets: 0
                }
            ],
            order: [1, 'asc']
        })
    </script>

{% endblock %}
